{% extends 'base.html' %}
{% block content %}
<h1 class="mt-4 mb-4">About Us</h1>
<p class="lead mt-4 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Praesent tristique magna sit amet purus gravida quis.
    Sed turpis tincidunt id aliquet.
    Sit amet consectetur adipiscing elit ut aliquam. Justo nec ultrices dui sapien eget mi.
    Tincidunt id aliquet risus feugiat. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere.
    Sem fringilla ut morbi tincidunt augue interdum velit. Quis enim lobortis scelerisque fermentum.
    Nisi est sit amet facilisis magna etiam. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit.
    Porttitor rhoncus dolor purus non enim praesent elementum facilisis.
    Justo eget magna fermentum iaculis eu non diam phasellus.</p>
{% endblock %}